.activite {
  margin-bottom: 1rem;
  &_title {
    margin-bottom: 2rem;
    margin-left: 1rem;
  }
  &_hider {
    position: absolute;
    top: 473px;
    left: 679px;
    width: 31px;
    height: 4px;
    background-color: #FAFAFA;
    z-index: 1;
  }

  &_barChart {
    
    &_legend {
      &_kg,
      &_cal {
        color: rgba(116, 121, 140, 1);
        font-size: 0.9rem;
      }
    }
  }
}
