.CustomTooltip {
  background-color: red;
  color: white;
  font-weight: bold;
  height: 80px;
  width: 60px;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
