.content {
  background-color: white;
  height: 700px;
  margin-left: 80px;
  padding: 20px 40px;
  &_main {
    display: flex;
    justify-content: space-between;
    &_graphs {
      &_top {
        &_activite {
          background-color: var(--bg);
          margin-right: 1rem;
          padding-top: 1rem;
          border-radius: 5px;
        }
      }
      &_bottom {
        display: flex;
        padding-top: 1rem;
        &_averageSession {
          width: 200px;
        }
        &_performance {
          width: 200px;
          height: 200px;
          margin-left: 1rem;
          background-color: rgba(40, 45, 48, 1);
          border-radius: 5px;
        }
        &_score {
          width: 200px;
          height: 200px;
          margin-left: 1rem;
          border-radius: 5px;
          background-color: var(--bg);
        }
      }
    }
  }
}
