.header {
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  &_title {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    &_img {
      width: 64px;
      height: 64px;
    }
    &_title {
      color: var(--primary);
      font-weight: normal;
    }
  }

  &_nav {
    height: 80px;
    display: flex;
    align-items: center;
    &_n {
      color: white;
      font-weight: bold;
      margin-right: 7rem;
    }
  }
}
