.score {
  width: 200px;
  height: 200px;
  &_title {
    position: absolute;
    right: 416px;
    bottom: 211px;
  }
  &_percentage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 71.5px;
    height: 132px;
    width: 132px;
    background-color: white;
    border-radius: 50%;
    right: 306px;
    &_res {
      font-size: 2em;
      font-weight: bold;
    }
    &_txt {
      font-size: 0.9rem;
      width: 60px;
      color: rgba(116, 121, 140, 1);
    }
  }
}
